@media screen and (max-width:1719px) and (min-width:1098px) {
    /* mi 사이즈 전용 폰트 크기 */
    .title_50{
        font-size: 2.094vw;
    }
    .title_36{
        font-size: 1.628vw;
    }
    .text_28{
        font-size: 1.396vw;
    }
    .text_24{
        font-size: 1.163vw;
    }
    .text_20{
        font-size: 1.047vw;
    }
    .text_16{
        font-size: 0.814vw;
    }
    .text_14{
        font-size: 0.581vw;
    }
    body{
        height: 700vh;
    }
    .wrap{
        width: 100%;
        margin: 0 auto;
    }
    .page{
        width: 100%;
        height: 100vh;
        border-top: 0.116vw solid #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #191919;
        align-items: center;
    }
    .width_align{
        width: calc(100% - 100px);
        height: calc(100% - 100px);
    }
    .scroll_page{
        top: 100vh;
    }
    
    /* 스크롤바 안보이게 진행 */
    .project_te_page .width_align,
    .project_cr_page .width_align,
    .about_page .width_align{
        -ms-overflow-style: none;
    }
    .project_te_page .width_align::-webkit-scrollbar,
    .project_cr_page .width_align::-webkit-scrollbar,
    .about_page .width_align::-webkit-scrollbar{
        display:none;
    }


    /* 메뉴바 영역 */
    nav, .close_but{
        position: fixed;
        top: 2.908vh;
        right: 2.908vw;
        z-index: 999999;
    }
    .menu_wrap .text_24{
        color: #333;
    }
    .menu_wrap input{
        display: none;
    }
    .toggle_open, .close_but{
        width: 8.726vw;
        height: 3.49vw;
        border-radius: 1.745vw;
        background-color: #fff;
    }
    .close_box, .close_but, .toggle_open{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img_box{
        width: 2.908vw;
        height: 2.908vw;
        margin-left: 0.581vw;
    }
    .menu_in_box{
        width: 34.9vw;
        height: 100vh;
        background-color: #fff;
        position: fixed;
        top: 0;
        right: 0;
        opacity: 0;
        transform: translateX(100%);
        transition: transform 0.4s ease, opacity 0.4s ease;
        z-index: 999;
    }
    .menu_in_box.tab{
        transform: translateX(0);
        opacity: 1;
    }
    .top_menu{
        position: absolute;
        top: calc(50% - 25vh);
        left: calc(50% - 8.726vw);
    }
    .top_menu a{
        color: #333;
        font-size: 2.21vw;
        font-weight: 700;
    }
    .sub_menu{
        margin-bottom: 2.908vw;
    }
    .top_menu .sub_menu a{
        color: #8a8a8a;
    }
    .top_menu .sub_menu a:hover{
        color: #3AA0FF;
    }

    /* 메인 배너 영역 */
    .main_banner_page .width_align{
        height: 100%;
    }
    .neme_feda_click{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 95%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        pointer-events: none;
        z-index: 99999;
        font-size: 2.094vw;
        font-weight: 500;
        text-shadow: -3px 0px #000, 0px 3px #000, 3px 0px #000, 0px -3px #000;
        display: none;
    }
    .name_event{
        color: #94C6FF;
    }
    .neme_feda_mo{
        display: none;
    }

    /* 블랙홀 시작 */
    #blackhole_main{
        height: 100%;
        width: 100%;
        position: relative;
        display: flex;
    }
    .can_hover{
        width: 14.54vw;
        height: 14.54vw;
        background-color: transparent;
        border-radius: 7.271vw;
        position: absolute;
        left: calc(50% - 7.271vw);
        top: calc(50% - 7.271vw);
        z-index: 2;
        line-height: 14.54vw;
        text-align: center;
        transition: 500ms;
        cursor: pointer;
    } 
    .can_hover.cilck{
        opacity: 0;
        pointer-events: none; /* 클릭 이후, 더이상의 캔버스 잔행 효과 막기 */
    }
    .can_hover:hover span, .can_hover:hover span:before, .can_hover:hover span:after{
        color: #fff;
    }
    .can_hover span{
        color: #626262;
        position: relative;
        transition: 500ms;
    }
    .can_hover span:before, .can_hover span:after{
        content: '';
        display: inline-block;
        height: 0.058vw;
        width: 0.872vw;
        margin-bottom: 0.465vw;
        background-color: #626262;
        transition: 500ms;
    }
    .can_hover span:before{
        margin-right: 0.698vw;
    }
    .can_hover span:after{
        margin-left: 0.698vw;
    }
    #canvas{
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
        margin: auto;
    }
    /* 블랙홀 끝 */


    /* 스크롤 페이지 시작 */
    /* 자기 소개 영역 */
    .about_page .width_align{
        align-items: center;
        overflow-y: scroll;
    }
    .your_box{
        display: flex;
    }
    .yor_left_box{
        width: 28%;
    }
    .yor_img_box{
        width: 14.54vw;
        height: 20.36vw;
        overflow: hidden;
        margin-bottom: 1.745vw;
    }
    .yor_img_box img{
        height: 120%;
        object-fit: cover;
    }
    .perso{
        display: flex;
        margin: 0.581vw 0 1.745vw 0;
    }
    .line_bar::after{
        content: "|";
        color: #fff;
        margin: 0 1.163vw;
        display: block;
        font-size: 1.628vw;
    }
    .perso .text_28{
        font-weight: 400;
    }
    .you_more_wrap{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
    }
    .more_box{
        width: 4.828vw;
        height: 1.919vw;
        border: 0.058vw solid #94C6FF;
        border-radius: 0.581vw;
        margin: 0 0.872vw 0.872vw 0;
    }
    .more_box:nth-child(4),.more_box:nth-child(5),.more_box:nth-child(6){
        margin-bottom: 0;
    }
    .more_box .text_16{
        text-align: center;
        line-height: 1.919vw;
    }
    .yor_right_box{
        width: 73%;
        border-left: 0.058vw solid #fff;
        margin-top: 0.872vw;
    }
    .yor_right_box p{
        letter-spacing: 0.017vw;
    }
    .yor_ed_ce_box, .car_box{
        margin: 0 0 3.49vw 6.98vw;
    }
    .car_box .text_24, .awar_box .text_24{
        margin-bottom: 0.58vw;
    }
    .text_reg{
        display: flex;
        flex-wrap: wrap;
    }
    .text_reg .text_20{
        margin: 0 0 0.58vw 7.27vw;
    }
    .awar_box{
        margin-left: 6.98vw;
    }
    .yor_right_box .text_28{
        margin-bottom: 1.163vw;
    }
    .yor_right_box .text_24, .yor_right_box .text_20{
        font-weight: 300;
    }
    .yor_ed_ce_box{
        display: flex;
        justify-content: space-between;
    }
    .yor_ed_ce_box .text_24{
        margin-bottom: 0.29vw;
    }
    .text_event{
        color: #94C6FF;
        border-bottom: 0.058vw solid;
        padding-bottom: 0.058vw;
        font-size: 1.163vw;
        font-weight: 300;
    }
    .te_20{
        font-size: 1.047vw;
    }

    /* 스킬 및 툴 안내 영역 */
    .ski_tool_page .width_align{
        align-items: center;
        height: calc(100% - 30%);
    }
    .ski_box{
        width: 100%;
        height: 100%;
    }
    .ski_top_box{
        text-align: center;
        margin-bottom: 5.817vw;
    }
    .text_bool{
        color: #94C6FF;
    }
    .le_to_cen, .rig_to_cen{
        opacity: 0;
        transition: transform 2s ease-out, opacity 2s ease-out;
    }
    .le_to_cen{
        margin-bottom: 2.32vw;
        transform: translateX(-34.9vw);
    }
    .rig_to_cen{
        transform: translateX(34.9vw);
    }
    .move_to {
        transform: translateX(0);
        opacity: 1;
    }
    .ski_down_box{
        text-align: center;
    }
    .sk_to_box:first-child{
        margin-bottom: 2.908vw;
    }
    .sk_to_box .title_36{
        margin-bottom: 1.163vw;
        font-weight: 400;
    }
    .bown_top{
        opacity: 0;
        transition: transform 1.8s ease-out, opacity 1.8s ease-out;
    }
    .bown_top{
        transform: translateY(14.54vw);
    }
    .ski_tool_move{
        transform: translateY(0);
        opacity: 1;
    }
    .icon_box_wrap{
        display: flex;
        justify-content: center;
    }
    .icon_box{
        width: 5.817vw;
        height: 4.072vw;
        border-radius: 0.581vw;
        background-color: #383838;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 1.163vw 1.163vw 0;
    }
    .icon_box img{
        width: 80%;
        height: 80%;
    }
    .icon_box:last-child{
        margin-right: 0;
    }

    /* 프로젝트 소개 안내 */
    .project_te_page .width_align, .project_cr_page .width_align{
        overflow-x: hidden;
        overflow-y: scroll;
        align-items: center;
        position: relative;
    }
    .pc_nun, .pro_left_box br, .mo_wrap p br, .mo_text{
        display: none;
    }
    .mo_nun{
        display: block;
    }
    .project_te_page .width_align, .project_cr_page .width_align{
        align-items: center;
        height: calc(100% - 150px);
    }
    .pro_full_mask{
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .pro_move_box{
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        transition: 0.5s;
    }
    .pro_smi_box{
        width: 100%;
    }
    .move_but{
        width: 1.163vw;
        height: 1.454vw;
        position: absolute;
        background-color: transparent;
        border: 0;
        z-index: 999;
    }
    .te_but, .cr_but{
        top: calc(50% - 1.948vw);
    }
    .left_but{
        left: 0.872vw;
    }
    .right_but{
        right: 0.872vw;
    }
    .pro_left_box{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .pro_left_box .title_36{
        font-size: 2.094vw;
    }
    .left_title_box{
        margin-bottom: 0.29vw;
    }
    .point_blue{
        color: #A6D4FF;
    }
    .title_reg{
        font-weight: 400;
        margin: 0 0 1.745vw 0.872vw;
    }
    .pro_certer_box{
        width: 40%;
        float: left;
        margin-top: 2.9vw;
    }
    .ailgn{
        margin: 1.745vw 0;
    }
    .but_wrap{
        display: flex;
        align-items: center;
        margin: 1.745vw 0;
    }
    .but{
        width: 8.726vw;
        height: 2.326vw;
        background-color: transparent;
        border: 0.116vw solid #94C6FF;
        border-radius: 0.581vw;
        margin-right: 0.872vw;
        line-height: 2.326vw;
        color: #fff;
        font-size: 0.93vw;
        font-weight: 300;
    }
    .mo_pro_ali{
        margin: 1.163vw 0;
    }
    .mo_wrap{
        align-items: center;
        margin-top: 2.326vw;
    }
    .pro_right_box{
        width: 55%;
        float: right;
        margin-top: 2.9vw;
    }
    .pro_certer_box .text_20{
        line-height: 2.094vw;
    }
    .mo_con{
        margin-top: 0;
    }

    /* 푸터 영역 */
    .contact_page .width_align{
        align-items: center;
        height: calc(100% - 300px)
    }
    .contact_page .cont_reg{
        font-weight: 300;
    }
    .cont_sub_box{
        display: flex;
        justify-content: space-between;
        margin-top: 2.9vw;
    }
    .cont_box, .le_top{
        margin-bottom: 4.072vw;
    }
    .cont_box:nth-child(2){
        margin-right: 0.581vw;
    }
    .left_box{
        width: 20%;
        margin-right: 5.817vw;
    }
    .center_box{
        width: 30%;
    }
    .right_box{
        width: 35%;
        height: 50%;
    }
    .cont_img_box{
        display: flex;
        width: 40%;
        height: 40%;
    }
    .cont_img_box img:first-child{
        margin-right: 0.872vw;
    }
    .tet_ali{
        font-weight: 500;
        margin-bottom: 1.163vw;
    }
    .por_but{
        display: flex;
    }
    .copt_right{
        margin-top: 1.745vw;
        text-align: center;
    }
    .copt_right .text_14:first-child{
        font-size: 0.814vw;
    }
    .copt_right .text_14:last-child{
        font-size: 0.581vw;
        margin-top: 1.745vw;
        display: flex;
        flex-direction: column;
    }
}

